* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.navbar {
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    background-color: rgb(235, 194, 210);
    align-items: center;
    border-bottom: 3px solid black;
}

.logo {
    text-decoration: none;
    color: black;
}
.menu {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.menu-link {
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
}

.menu-link:hover {
    text-decoration: underline;
}